﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
   <button id="helloButton">Say Hello</button>
    <input type="text" id="helloMessage" />


</div>

@section Scripts {
    <script>
       document.getElementById("helloButton").addEventListener("click", function() {
       document.getElementById("helloMessage").value = "Hello World";
        });
    </script>
}
